<p id="notice"><%= notice %></p>
<div style="font-weight:bold; background-color:white; width:300px; padding: 12px 24px; border-radius: 6px;">
<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @store.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @store.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @store.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @store.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @store.phone %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @store.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @store.longitude %>
</p>

<p>
  <strong>Active:</strong>
  <%= @store.active %>
</p>
</div>
<%= button_to "Edit", edit_store_path(@store), :style => "background-color: #d147a3 ;color: white; font-size: 16px;",
 :method => :get %>
<%= button_to "Back", stores_path, :style => "background-color: #d147a3 ;color: white; font-size: 16px;",
 :method => :get %>