<div class="row" style="background-color:white; positon:inherit; border-radius: 6px;padding: 12px 6px;">
  <div class="col s2">
  </div>
  
  <div id="col s8 center">
  <%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
  <label>
    <%= form.check_box :active, id:"Active" %>
    <span><%= form.label :active %></span>
  </label>
  </div>

  <div class="actions">
    <%= button_to "Create Flavor", form.submit, :style => "background-color: #d147a3 ;color: white; font-size: 16px;",
 :method => :get %>
  </div>
<% end %>
</div>
<div class="col s2">
  </div>
</div>