<p id="notice"><%= notice %></p>
<div style="font-weight:bold; background-color:white; width:300px; padding: 12px 24px; border-radius: 6px;">
<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @job.active %>
</p>
</div>
<br>
<%= button_to "Edit", edit_job_path(@job), :style => "background-color: #d147a3 ;color: white; font-size: 16px;",
 :method => :get %>
<br>
<%= button_to "Back", jobs_path, :style => "background-color: #d147a3 ;color: white; font-size: 16px;",
 :method => :get %>