<div class="container" style="text-align:center; position:relative; top:-70px;">
</div>


<p id="notice"><%= notice %></p>
      <hr class="my-4">
      <br>
      <br>
<p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample1" role="button" 
        style="background-color:#DDA0DD; width:250px; text-align: center; padding: 3px 24px;display: block; margin: 0 auto; border-radius: 12px;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); border-color:#2d2722;" 
        aria-expanded="false" aria-controls="collapseExample1">
        Users
        </a>
        <br>
    </p>
    <div class="collapse" id="collapseExample1">
        <div class="card card-body1">
            <table class="table">
              <thead style="background-color:#DDA0DD;color:white;">
                <tr>
                   <th  scope="col">Email</th>
                    <th  scope="col">Password digest</th>
                    <th  scope="col">Employee</th>
                </tr>
              </thead>
              <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.email %></td>
                  <td><%= user.password_digest %></td>
                  <td><%= user.employee.proper_name %></td>
                  <td><%= link_to 'Show', user %></td>
                  <td><%= link_to 'Edit', edit_user_path(user) %></td>
                  <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
            </table>
        </div>
    </div>
<br>