<p id="notice"><%= notice %></p>
<div style="font-weight:bold; background-color:white; width:300px; padding: 12px 24px; border-radius: 6px;">
<p>
  <strong>Date:</strong>
  <%= @shift.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @shift.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @shift.end_time %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @shift.notes %>
</p>

<p>
  <strong>Assignment:</strong>
  <%= @shift.assignment %>
</p>
</div>

<%= button_to "Edit", edit_shift_path(@shift), :style => "background-color: #d147a3 ;color: white; font-size: 16px;",
 :method => :get %>
<%= button_to "Back", shifts_path, :style => "background-color: #d147a3 ;color: white; font-size: 16px;",
 :method => :get %>