<!doctype html>
<html lang="en" style="height:100%;">
  <head>
    <!-- Required meta tags -->
    <link rel="stylesheet" href="application.scss" type="text/scss"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto:400"/>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    
    <title>A&M Creamery</title>

  </head>
    
    <!-- ADDING THE NAVIGATION BAR IN THE HEADER  -->  
    <header>
       <nav  style="height: 100px; background-image: linear-gradient(to right, #D8BFD8, #DDA0DD, #D8BFD8);" class="navbar navbar-expand-lg navbar-light bg-danger text-light py-3 main-nav">
        <div class="nav-wrapper">
          <ul class="right hide-on-med-and-down">
             <li><%= link_to 'Store', stores_path %></li>
            <li><%= link_to 'Employee', employees_path %></li>
            <li><%= link_to 'Assignment', assignments_path %></li>
            <li><a href="https://test-1-msahmad.c9users.io/">Home</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- NAVIGATION BAR ENDS  -->  
    
    <!-- BODY WHERE RESULTS WILL BE SHOWN  -->  
  <body style=" style= height: 100%; background-image: url('https://www.pixelstalk.net/wp-content/uploads/2016/07/Cute-Ice-Cream-Images-HD.jpg'); background-size: cover; background-size:100% 100%; ">
    <div class="container-fluid" style= "background-color: transparent;">
	    <div class="row">
		    <div class="col-md-8">
		        <br>
    		    <br>
    		    <br>
        <div class="title" style = "position:relative; bottom:120px; right:-250px;">
            <h1 class="elegantshadow" style = "
                  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, 'AppleGothic', sans-serif;
                  font-size: 40px;
                  padding: 50px 20px;
                  text-align: center;
                  text-transform: uppercase;
                  text-rendering: optimizeLegibility;

                  color: #ffccff;
                  opacity:1;
                  
                  letter-spacing: .15em;
                  text-shadow: 
                    1px -1px 0 #ff4dff, 
                    -1px 2px 1px #ff33ff, 
                    -2px 4px 1px #ff1aff, 
                    -3px 6px 1px #e600e6, 
                    -4px 8px 1px #b300b3, 
                    -5px 10px 1px #990099;"> 
                    A&M CREAMERY   </h1>
              </div>   
        </div>
    			
			    <br>
			    <p>
			      
			    
			    </p>
		    <div class="container" style="opacity: 1;">
			      <%= yield %> <br /> <br />
			    </div>
	    </div>  
    </div>
    

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
  
  <footer style="position: fixed; bottom: 0%; width: 100%;  background-image: linear-gradient(to right, #D8BFD8, #DDA0DD, #D8BFD8);">
    <div class="container">
      @Mohammad Shahmeer Ahmad
    </div>
  </footer>
</html>